.catalog__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;
}

.catalog__item-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-dark;
}

.catalog__item-table {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
}

.catalog__item-button {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $basic-green;
  padding: 10px 109px;
}

.catalog__item-subtitle-all {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-light-black;
}

.catalog__item-desc {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
}

.catalog__item-button-all {
  color: $special-dark-grey;
  background-color: $basic-grey;
  padding: 10px 94px;
}

.products__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
}

.products__table td {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-dark;
}
