.catalog__title {
  font-family: $main-font;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;
}

.catalog__list {
  list-style: none;
}

.catalog__item-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-dark;
}

.catalog__item {
  margin-bottom: 55px;
}

.catalog__item-link {
  text-decoration: none;
}

.catalog__item-table {
  font-family: $sec-font;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
  margin-bottom: 22px;
}

.catalog__item-link-order {
  font-family: $main-font;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $basic-green;
  text-decoration: none;
  padding: 10px 109px;
}

.catalog__item-subtitle-all {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-light-black;
}

.catalog__item-desc {
  font-family: $sec-font;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
}

.catalog__item-link-order-all {
  color: $special-dark-grey;
  background-color: $basic-grey;
  padding: 10px 94px;
}

.products__table {
  height: 516px;
  margin-bottom: 57px;
}

.products__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
}

.products__table td {
  font-family: $main-font;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-dark;
}

.products__table-volume,
.products__table-cost {
  font-family: $sec-font;
  font-size: 14px;
  line-height: 14px;
  color: $special-dark-grey;
}
