.cooperation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.cooperation__title {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-light-black;
}

.cooperation__address {
  font-family: $sec-font;
  font-size: 14px;
  line-height: 20px;
  color: $special-dark-grey;
}

.cooperation__map {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .cooperation__map {
    width: 100%;
    height: 400px;
  }
}
