.feeding {
  background-image: url("../img/cat.png");
  background-repeat: no-repeat;
  margin-bottom: 22px;
}

.feeding__title {
  font-family: "Oswald";
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $basic-white;
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 25px;
}

.feeding__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $basic-white;
  margin: 0;
  padding: 0;

}

.feeding__programme {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-white;
  padding: 7px 44px 7px 44px;
  background-color: $basic-green;
}
