.page-header {
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.page-header__logo-mobile {
  margin-right: 58px;
}

.page-header__logo-tablet,
.page-header__logo-2-tablet,
.page-header__logo-desktop,
.page-header__logo-2-desktop {
  display: none;
}

.page-header__logo-2 {
  height: 18px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 100%;
    padding-top: 27px;
    padding-bottom: 69px;
  }

  .page-header__logo-mobile,
  .page-header__logo-2 {
    display: none;
  }

  .page-header__logo-tablet,
  .page-header__logo-2-tablet {
    display: block;
  }

  .page-header__logo-tablet {
    padding-right: 12px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 100%;
    padding-top: 53px;
    padding-bottom: 30px;
  }

  .page-header__logo-tablet,
  .page-header__logo-2-tablet {
    display: none;
  }

  .page-header__logo-desktop,
  .page-header__logo-2-desktop {
    display: block;
  }

  .page-header__logo-desktop {
    padding-right: 14px;
  }
}
