.principle__title {
  font-family: "Oswald";
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
}

.principle__item {
  font-family: "Arial";
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $specia-dark-grey;
}
