.principle__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
}

.principle__item {
  font-family: $sec-font;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
}
