.program__selection {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;
}

.program__subtitle {
   font-weight: normal;
   font-size: 14px;
   line-height: 18px;
   text-transform: uppercase;
   color: $basic-black;
}

.program__form,
.form-input {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
}

