  $basic-black: #000000;
  $basic-light-black: #111111;

  $basic-dark: #222222;

  $basic-green: #68b738;
  $green: rgba(104, 183, 56, 0.85);

  $basic-grey: #f2f2f2;
  $special-dark-grey: #444444;
  $light-grey: #eaeaea;

  $basic-white: #ffffff;

.page__body {
   font-family: "Oswald", "Verdana", sans-serif;
}
