$basic-black: #000000;
$basic-light-black: #111111;

$basic-dark: #222222;

$basic-green: #68b738;
$green: rgba(104, 183, 56, 0.85);

$easy-grey: #d9d9d9;
$basic-grey: #f2f2f2;
$special-dark-grey: #444444;
$light-grey: #eaeaea;
$light-basic-grey: #e6e6e6;

$basic-white: #ffffff;

$sec-font: "Arial", sans-serif;
$main-font: "Oswald", "Verdana", sans-serif;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
